<html>
  <head>
    <h1>Lifestyle</h1>
    <link rel="stylesheet" href="style.css">
  </head>
  <body background="http://www.pachmarhi-hotels.com/wp-content/uploads/2016/08/6962817-green-hills-1.jpg">
    <div>
    <h2>Music</h2>
    <form method="POST" action="/life">
    <h3>What genre of music would you prefer?</h3>
    <p><input type="radio" name="genre" value="classical"> classical</p>
    <p><input type="radio" name="genre" value="pop"> pop</p>
    <p><input type="radio" name="genre" value="popular"> popular</p>
    <p><input type="radio" name="genre" value="indie">indie</p>
    <p><input type="radio" name="genre" value="country">country </p>
    <p><input type="radio" name="genre" value="alternative"> alternative</p>
    
    </div>
    
    <h3>What time of day would you like to listen to this music? </h3>
    <p><input type="radio" name="time" value="morning"> when I wake up</p>
    <p><input type="radio" name="time" value="afternooon"> in the afternoon</p>
    <p><input type="radio" name="time" value="night"> At night</p>
    
    <h2>Food (Diet for a week)</h2>
    <h3>Which diet type would you like to choose for the week?</h3>
    <p><input type="radio" name="diet" value="Soup Diet"> Soup Diet</p>
    <p><input type="radio" name="diet" value="Vegan 1500cal"> Vegan 1500cal</p>
    <p><input type="radio" name="diet" value="calorie limit 1200cal"> calorie limit 1200cal</p>
    <p><input type="radio" name="diet" value="Dr. Oz Diet"> Dr. Oz Diet</p>
    <p><input type="radio" name="diet" value="3-Day Juice Cleanse"> 3-Day Juice Cleanse</p>
    
    <h2>Exercise</h2>
    <h3> Which body part would you like to work out?</h3>
    <p><input type="radio" name="work-out" value="leg"> leg </p>
    <p><input type="radio" name="work-out" value="arm"> arm</p>
    <p><input type="radio" name="work-out" value="abs"> abs</p>
    <p><input type="radio" name="work-out" value="whole-body normal"> whole-body normal</p>
    <p><input type="radio" name="work-out" value="whole-body advanced"> whole-body advanced</p>
    
    <h2>Inspirational Quotes</h2>
    <h3>Choose a quote that will go with your lifestyle.</h3>
    <p><input type="radio" name="quote" value="work-out quotes"> work-out quotes</p>
    <p><input type="radio" name="quote" value="fashion-related"> fashion-related</p>
    <p><input type="radio" name="quote" value="moral/ethics">moral/ethics </p>
    <p><input type="radio" name="diet" value="well known quotes"> well known quotes</p>
    
    
    
    <h2>Inspirational Women </h2>
    <h3>Choose one option listed below. </h3>
    <p><input type="radio" name="women" value="women in tech">women in tech. </p>
    <p><input type="radio" name="women" value="women in govt.">women in govt.</p>
    <p><input type="radio" name="women" value="women in business"> women in business</p>
    
    
    <div font-size: "100px" > 
    <input type = "submit" value="Submit! To make your custumized Life Style page" ></div>
    </form>



  </body>
  
</html>