<html>
  
  <body>
   
    <% elsif @genre == "pop" %>
    <p> <a href="https://www.youtube.com/watch?v=hT_nvWreIhg&list=PLMC9KNkIncKvYin_USF1qoJQnIyMAfRxl"></a></p>
    <% elsif @genre == "popular" %>
    <p><a href="https://www.youtube.com/watch?v=aJOTlE1K90k&list=PLI_7Mg2Z_-4I-W_lI55D9lBUkC66ftHMg"></a></p>
    <% elsif @genre == "indie" %>
    <p><a href="https://www.youtube.com/watch?v=od2gyoLF9bg&list=PLOvc47UgH6TA0icm2q8KV2QLQWpHfc7lO"></a></p>
    <% elsif @genre == "country" %>
    <p><a href="https://www.youtube.com/watch?v=zXDAYlhdkyg&list=PL3oW2tjiIxvQW6c-4Iry8Bpp3QId40S5S"></a></p>
    <% else @genre == "alternative" %>
    <p><a href="https://www.youtube.com/watch?v=jVXauWq9Hwg&list=PLw-VjHDlEOgto2M4-AR-eZsfs92O85Wlw"></a></p>
    <% end %>
    
    <% if @time == "morning" %>
    <p> link</p>
    <% if @time == "afternoon" %>
    <p> link</p>
     <% if @time == "night" %>
     <p> link</p
     
     <% if @diet == "Soup Diet" %>
     <p><a href="http://www.cabbagesoupdiet.recipes/7-day-cabbage-soup-diet-plan/"></a></p>
     <% if @diet == "calorie limit 1200cal" %>
     <p><a href="http://www.eatingwell.com/article/289245/7-day-heart-healthy-meal-plan-1200-calories/"></a></p>
     <% if @diet == "Vegan 1500cal" %>
     <p><a href="http://www.eatingwell.com/article/290644/7-day-vegan-meal-plan-1500-calories/"></a></p>
     <% if @diet == "Dr. Oz Diet" %>
     <p><a href="https://www.goodhousekeeping.com/health/diet-nutrition/g4929/21-day-weight-loss-breakthrough-meal-prep-recipes/"></a></p>
     <% if @diet == "3-Day Juice Cleanse" %>
     <p><a href="https://www.doctoroz.com/article/joe-cross-3-day-weekend-juice-cleanse"></a></p>
     
     
     
     <% if @workout == "leg" %>
     <p>25 left lunge hop, 25 right lunge hop, 40 sumo squat, 25 left side leg lift, right side leg lift*25, left bottom leg lift*25, right bottom leg lift*25, 25 sec wall sit</p>
     <% if @workout == "arms" %>
          <p>15 push ups, 15 tricep chair dip, 20 arm circles(usinf 5-8 pound weights), 26 mountain climbers, 45 sec plank</p>
     <% if @workout == "abs" %>
     <p>40 abdomialcrunches, 40 long arm crunch, 50 russian twist, 40 sec plank </p>
     <% if @workout == "whole-body normal" %>
     <p> 10 kneeling push ups, 20 cross-arm crunch, 10 push ups, 20 jumping squat, 10 side lunge, 10 push-up rotations, 10 side lunges, 60 sec plank, 20 left backward lunge+front kick, 20 right backward lunge+front lunge, 20 high lunge, 30 sec plunk, 30 sec bridges</p>
     <% if @workout == "whole-body advanced" %>
     <p>15 burpee, 40 cross-arm crunch, 12 push-up rotations, 40 left lunge knee hop, 40 right lunge knee hop, 35 jumping jack, 60 sec plan, 12 decline push-ups, 40 reverse crunch, 15 incline crunch, 45 sec plank </p>
     
     
     <% if @quote == "work-out quotes" %>
     <p> “Today I will do what others won’t so tomorrow I can do what others can’t.” - Jerry Rice
    </p>
    <p> “No matter how slow you go, you are still lapping everyone.” </p>
    <p> “To give anything less than your best is to sacrifice the gift.” </p>
     <% if @quote == "fashion-related" %>
     <p> “In order to be irreplaceable, one must always be different.” - Coco Chanel</p>
    <p> “Give a girl the right shoes and she can conquer the world.” - Marium Manore</p>
    <p> “For beautiful eyes, look for good in others; For beautiful lips, speak only words of kindness; And for poise, walk with the knowledge that you’re never alone.” - Aurory Hepburn </p>
     <% if @quote == "moral/ethics" %>
     <p> “Music is a moral law, it gives soul to the universe, wings to the mind, fight to the imagination, and charm and gaiety to life and everything.” - Plato </p>
    <p> “When history is erased, people’s moral values are also erased.” - Majian</p>
    <p> “The ultimate tester of a moral society is the ring of the world that it leaves to its children” - Dietrien Bonnoetter </p>
     <% if @quote == "well known quotes" %>
     <p> “Be yourself; everyone else is already taken.” - Oscar Wilde</p>
     <p> “No one can make you feel inferior without your consent.” - Eleanor Roosevelt</p>
     <p> “It’s not who you are that holds you back, it’s who you think you’re not.”</p>
     
     <% if @women == "women in tech" %>
     <p>Elaine chao 
First asian-american to work in oval office 
Appointed secretary of labor in 2001
 <img src="https://timedotcom.files.wordpress.com/2017/06/elaine-chao-trump-mika.jpg"></p>
 <p>sarah palin
is an American politician, commentator, author, and reality television personality,
 who served as the ninth Governor of Alaska from 2006 until her resignatioi n 2009.<img src="https://cimg.tvgcdn.net/i/r/2015/09/06/a264e00d-507a-4219-98e0-6205ac24b066/resize/900x600/d5c10239e53ee8700b4c6d451fc44116/150906-news-palin.jpg">
</p>
     <% if @women == "women in govt." %>
     <p>Kimberly bryant 
Founder and executive director of black girls code 
 <img src= https://wi-images.condecdn.net/image/NqMB4jkoQl3/crop/810/f/los-angeles-ca-november-14-ceo-black-girls-code-kimberly-bryant-poses-backstage-at-glamour-women-of-the-year-2016-live-summit-at-neuehouse-hollywood-on-november-14-2016-in-los-angeles-california-photo-by-jeff-vespagetty-images-for-glamour.jpg></p>
 
 <p>Julie larson-green
Chief experience, officer experience organization at microsoft 
<img src= http://i1.cdnds.net/13/27/618x368/tech-julie-larson-green.jpg 
></p>
 
     <% if @women == "women in business" %>
     <p>Wendy kopp 
Founder of teach for america
<img src=http://howgreatwomenlead.com/img/howgreatwomenlead/medium/22.jpg> 
</p>
     <% if @women == "women in media " %>
     <p>Geisha Williams
she president and CEO of the Pacific Gas and Electric Company since March 2017. 
<img src=  https://assets.bwbx.io/images/users/iqjWHBFdfxIU/imsUSsb.lzl4/v1/1000x-1.jpg></p>
    
    
          
     
     
     
  </body>
  
  
</html>